:root {
  --green: #2db0ba;
}

.publish-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  padding-top: 48px;
  padding-bottom: 40px;
  background-color: #eaedee;
}
.publish-form > h1 {
  font-size: 24px;
}

.publish {
  display: flex;
  flex-direction: column;
  width: 890px;
  gap: 32px;
}

.publish div {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  gap: 16px;
}

.publish div:first-child {
  align-items: center;
  justify-content: center;
}

.publish div input {
  border-bottom: 1px solid rgb(215, 215, 215);
  border-top: none;
  border-right: none;
  border-left: none;
  height: 40px;
  margin-bottom: 8px;
}

textarea {
  resize: none;
  font-size: 14px;
  border-bottom: 1px solid rgb(215, 215, 215);
  border-top: none;
  border-right: none;
  border-left: none;
}

textarea:focus {
  outline: none;
}

.preview {
  width: 500px;
  object-fit: cover;
}

.cta-section-publish {
  display: flex;
  justify-content: center;
  align-items: center;
}

.publish-cta {
  border: none;
  background-color: var(--green);
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  align-self: flex-end;
}

.picture-section div {
  border: 1px var(--green) solid;
  background-color: white;
  color: var(--green);
  width: 200px;
  height: 0px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 16px;
}

.picture-section div:hover {
  background-color: #2db0ba;
  color: white;
  border: 1px white solid;
  cursor: pointer;
}

.preview {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.price-label span {
  font-size: 12px;
}
